auditoria2/n8n_workflow_notificar_auditado_solicitud_documentacion.json
{
  "name": "Notificar Auditado - Solicitud de Documentación",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "notificar-auditado-solicitud-documentacion",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-001",
      "name": "Webhook - Recibir Solicitud",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [240, 300],
      "webhookId": "notificar-auditado-solicitud-documentacion"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"success\": true, \"message\": \"Notificación recibida\", \"solicitud_id\": $json.body.solicitud_id } }}"
      },
      "id": "respond-001",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [460, 300]
    },
    {
      "parameters": {
        "jsCode": "// Validar y extraer datos recibidos del webhook\nconst body = $input.item.json.body || $input.item.json;\n\n// Validar campos obligatorios\nif (!body.solicitud_id) {\n  throw new Error('Falta solicitud_id en el request');\n}\n\nif (!body.auditado_email) {\n  throw new Error('Falta auditado_email en el request');\n}\n\nif (!body.titulo || !body.descripcion) {\n  throw new Error('Faltan titulo o descripcion en el request');\n}\n\n// Preparar datos para el correo\nconst data = {\n  solicitud_id: body.solicitud_id,\n  auditoria_id: body.auditoria_id || null,\n  auditado_id: body.auditado_id || null,\n  auditado_email: body.auditado_email,\n  auditado_nombre: body.auditado_nombre || body.auditado_email.split('@')[0],\n  titulo: body.titulo,\n  descripcion: body.descripcion,\n  tipo_documento: body.tipo_documento || null,\n  fecha_limite: body.fecha_limite || null,\n  solicitado_por_nombre: body.solicitado_por_nombre || 'Auditor',\n  solicitado_por_email: body.solicitado_por_email || null,\n  timestamp: body.timestamp || new Date().toISOString()\n};\n\n// Formatear fecha límite si existe\nif (data.fecha_limite) {\n  try {\n    const fechaLimiteDate = new Date(data.fecha_limite);\n    data.fecha_limite_formateada = fechaLimiteDate.toLocaleDateString('es-ES', {\n      year: 'numeric',\n      month: 'long',\n      day: 'numeric'\n    });\n  } catch (e) {\n    data.fecha_limite_formateada = data.fecha_limite;\n  }\n}\n\nreturn [{\n  json: {\n    ...data,\n    subject: `📋 Solicitud de Documentación - ${data.titulo}`\n  }\n}];"
      },
      "id": "code-001",
      "name": "Code - Validar y Preparar",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [680, 300]
    },
    {
      "parameters": {
        "jsCode": "// Generar HTML del correo para el auditado\nconst data = $input.item.json;\n\nconst htmlTemplate = `<!DOCTYPE html>\n<html>\n<head>\n  <meta charset=\"UTF-8\">\n  <style>\n    body { \n      font-family: Arial, sans-serif; \n      line-height: 1.6; \n      color: #333; \n      background: #f3f4f6;\n      margin: 0;\n      padding: 0;\n    }\n    .container { \n      max-width: 600px; \n      margin: 20px auto; \n      padding: 0;\n      background: white;\n      border-radius: 8px;\n      box-shadow: 0 2px 4px rgba(0,0,0,0.1);\n    }\n    .header { \n      background: #2563eb; \n      color: white; \n      padding: 30px 20px; \n      border-radius: 8px 8px 0 0; \n      text-align: center;\n    }\n    .header h1 {\n      margin: 0 0 10px 0;\n      font-size: 24px;\n    }\n    .content { \n      padding: 30px 20px; \n      background: white;\n    }\n    .solicitud-box {\n      background: #eff6ff;\n      padding: 20px;\n      border-radius: 8px;\n      border-left: 4px solid #2563eb;\n      margin: 20px 0;\n    }\n    .solicitud-box h3 {\n      margin: 0 0 10px 0;\n      color: #2563eb;\n      font-size: 18px;\n    }\n    .fecha-limite-box {\n      background: #fef3c7;\n      padding: 15px;\n      border-radius: 8px;\n      margin: 20px 0;\n      border-left: 4px solid #f59e0b;\n    }\n    .button {\n      display: inline-block;\n      padding: 12px 24px;\n      background: #2563eb;\n      color: white;\n      text-decoration: none;\n      border-radius: 6px;\n      margin: 20px 0;\n      font-weight: bold;\n    }\n    .footer { \n      text-align: center; \n      padding: 20px; \n      color: #6b7280; \n      font-size: 12px; \n      background: #f9fafb;\n      border-radius: 0 0 8px 8px;\n    }\n    .info-item {\n      padding: 10px 0;\n      border-bottom: 1px solid #e5e7eb;\n    }\n    .info-item:last-child {\n      border-bottom: none;\n    }\n    .info-label {\n      font-weight: bold;\n      color: #6b7280;\n      font-size: 12px;\n      text-transform: uppercase;\n    }\n    .info-value {\n      color: #1f2937;\n      font-size: 14px;\n      margin-top: 4px;\n    }\n  </style>\n</head>\n<body>\n  <div class=\"container\">\n    <div class=\"header\">\n      <h1>📋 Solicitud de Documentación</h1>\n      <p style=\"margin: 0; opacity: 0.9;\">Sistema de Auditoría Interna</p>\n    </div>\n\n    <div class=\"content\">\n      <p>\n        Hola <strong>${data.auditado_nombre}</strong>,\n      </p>\n\n      <p>\n        Has recibido una nueva solicitud de documentación del auditor <strong>${data.solicitado_por_nombre}</strong>.\n      </p>\n\n      <div class=\"solicitud-box\">\n        <h3>${String(data.titulo).replace(/</g, '&lt;').replace(/>/g, '&gt;')}</h3>\n        <p style=\"margin-top: 10px; font-size: 14px; color: #1f2937;\">\n          ${String(data.descripcion).replace(/</g, '&lt;').replace(/>/g, '&gt;').replace(/\\n/g, '<br>')}\n        </p>\n      </div>\n\n      <div style=\"background: #f9fafb; padding: 15px; border-radius: 8px; margin: 20px 0;\">\n        <div class=\"info-item\">\n          <div class=\"info-label\">Tipo de Documento</div>\n          <div class=\"info-value\">${data.tipo_documento || 'No especificado'}</div>\n        </div>\n        ${data.fecha_limite_formateada ? `<div class=\"info-item\">\n          <div class=\"info-label\">Fecha Límite</div>\n          <div class=\"info-value\">${data.fecha_limite_formateada}</div>\n        </div>` : ''}\n        <div class=\"info-item\">\n          <div class=\"info-label\">Solicitado por</div>\n          <div class=\"info-value\">${data.solicitado_por_nombre}${data.solicitado_por_email ? ` (${data.solicitado_por_email})` : ''}</div>\n        </div>\n      </div>\n\n      ${data.fecha_limite_formateada ? `<div class=\"fecha-limite-box\">\n        <p style=\"margin: 0; font-size: 16px; color: #92400e; font-weight: bold;\">\n          ⏰ Fecha Límite: ${data.fecha_limite_formateada}\n        </p>\n        <p style=\"margin: 10px 0 0 0; font-size: 13px; color: #78350f;\">\n          Por favor, proporciona la documentación solicitada antes de esta fecha mediante el link de Google Drive en el sistema.\n        </p>\n      </div>` : ''}\n\n      <div style=\"text-align: center; margin: 30px 0;\">\n        <a href=\"http://localhost:3000/documents\" class=\"button\">\n          Ver Solicitud en el Sistema\n        </a>\n      </div>\n\n      <div style=\"background: #ecfdf5; padding: 15px; border-radius: 8px; margin: 20px 0; border-left: 4px solid #059669;\">\n        <p style=\"margin: 0; font-size: 14px; color: #065f46;\">\n          <strong>📝 Instrucciones:</strong><br>\n          Para responder a esta solicitud, ingresa al sistema y proporciona el link de Google Drive donde has subido la documentación solicitada.\n        </p>\n      </div>\n\n      <p style=\"margin-top: 30px; padding-top: 20px; border-top: 1px solid #e5e7eb; color: #6b7280; font-size: 13px;\">\n        <strong>Nota:</strong> Este es un correo automático del Sistema de Auditoría Interna.<br>\n        Si tienes dudas sobre esta solicitud, contacta al auditor responsable.<br>\n        No responder a este mensaje.\n      </p>\n    </div>\n\n    <div class=\"footer\">\n      <p>\n        Sistema de Auditoría Interna<br>\n        Generado el ${new Date(data.timestamp).toLocaleDateString('es-ES', { \n          year: 'numeric', \n          month: 'long', \n          day: 'numeric',\n          hour: '2-digit',\n          minute: '2-digit'\n        })}<br>\n        © ${new Date().getFullYear()}\n      </p>\n    </div>\n  </div>\n</body>\n</html>`;\n\nreturn [{\n  json: {\n    ...data,\n    html: htmlTemplate\n  }\n}];"
      },
      "id": "code-002",
      "name": "Code - Generar HTML",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [900, 300]
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "send",
        "toEmail": "={{ $json.auditado_email }}",
        "subject": "={{ $json.subject }}",
        "emailType": "html",
        "message": "={{ $json.html }}",
        "options": {}
      },
      "id": "gmail-001",
      "name": "Gmail - Enviar Correo",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [1120, 300]
    }
  ],
  "connections": {
    "Webhook - Recibir Solicitud": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Respond to Webhook": {
      "main": [
        [
          {
            "node": "Code - Validar y Preparar",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code - Validar y Preparar": {
      "main": [
        [
          {
            "node": "Code - Generar HTML",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code - Generar HTML": {
      "main": [
        [
          {
            "node": "Gmail - Enviar Correo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-01-08T00:00:00.000Z",
  "versionId": "1"
}
