auditoria2/n8n_workflow_notificar_auditado_observacion.json
{
  "name": "Notificar Auditado - Nueva Observación",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "notificar-auditado-observacion",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-001",
      "name": "Webhook - Recibir Solicitud",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [240, 300],
      "webhookId": "notificar-auditado-observacion"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"success\": true, \"message\": \"Notificación recibida\", \"observacion_id\": $json.body.observacion_id } }}"
      },
      "id": "respond-001",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [460, 300]
    },
    {
      "parameters": {
        "jsCode": "// Validar y extraer datos recibidos del webhook\nconst body = $input.item.json.body || $input.item.json;\n\n// Validar campos obligatorios\nif (!body.observacion_id) {\n  throw new Error('Falta observacion_id en el request');\n}\n\nif (!body.auditado_email) {\n  throw new Error('Falta auditado_email en el request');\n}\n\n// Preparar datos para el correo\nconst data = {\n  observacion_id: body.observacion_id,\n  auditoria_id: body.auditoria_id,\n  numero_observacion: body.numero_observacion || 'N/A',\n  titulo_observacion: body.titulo_observacion || 'Sin título',\n  descripcion_observacion: body.descripcion_observacion || 'Sin descripción',\n  recomendacion: body.recomendacion || 'Sin recomendación',\n  probabilidad: body.probabilidad || null,\n  impacto: body.impacto || null,\n  riesgo: body.riesgo || null,\n  auditado_id: body.auditado_id || null,\n  auditado_email: body.auditado_email,\n  auditado_nombre: body.auditado_nombre || body.auditado_email.split('@')[0],\n  timestamp: body.timestamp || new Date().toISOString()\n};\n\nreturn [{\n  json: {\n    ...data,\n    subject: `📋 Nueva Observación de Auditoría #${data.numero_observacion}`\n  }\n}];"
      },
      "id": "code-001",
      "name": "Code - Validar y Preparar",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [680, 300]
    },
    {
      "parameters": {
        "jsCode": "// Generar HTML del correo electrónico\nconst data = $input.item.json;\n\nconst riesgoBadge = data.riesgo \n  ? `<span style=\"background: #dc2626; color: white; padding: 4px 12px; border-radius: 12px; font-weight: bold; font-size: 12px;\">⚠️ ${String(data.riesgo).toUpperCase()}</span>`\n  : '<span style=\"background: #6b7280; color: white; padding: 4px 12px; border-radius: 12px; font-weight: bold; font-size: 12px;\">Sin clasificar</span>';\n\nconst htmlTemplate = `<!DOCTYPE html>\n<html>\n<head>\n  <meta charset=\"UTF-8\">\n  <style>\n    body { \n      font-family: Arial, sans-serif; \n      line-height: 1.6; \n      color: #333; \n      background: #f3f4f6;\n      margin: 0;\n      padding: 0;\n    }\n    .container { \n      max-width: 600px; \n      margin: 20px auto; \n      padding: 0;\n      background: white;\n      border-radius: 8px;\n      box-shadow: 0 2px 4px rgba(0,0,0,0.1);\n    }\n    .header { \n      background: #dc2626; \n      color: white; \n      padding: 30px 20px; \n      border-radius: 8px 8px 0 0; \n      text-align: center;\n    }\n    .header h1 {\n      margin: 0 0 10px 0;\n      font-size: 24px;\n    }\n    .content { \n      padding: 30px 20px; \n      background: white;\n    }\n    .observation-box {\n      background: #f9fafb;\n      padding: 20px;\n      border-radius: 8px;\n      border-left: 4px solid #dc2626;\n      margin: 20px 0;\n    }\n    .observation-box h3 {\n      margin: 0 0 10px 0;\n      color: #dc2626;\n      font-size: 18px;\n    }\n    .observation-detail {\n      margin-top: 15px;\n      font-size: 14px;\n      color: #6b7280;\n    }\n    .observation-detail p {\n      margin: 8px 0;\n    }\n    .observation-detail strong {\n      color: #1f2937;\n    }\n    .button {\n      display: inline-block;\n      padding: 12px 24px;\n      background: #dc2626;\n      color: white;\n      text-decoration: none;\n      border-radius: 6px;\n      margin: 20px 0;\n      font-weight: bold;\n    }\n    .footer { \n      text-align: center; \n      padding: 20px; \n      color: #6b7280; \n      font-size: 12px; \n      background: #f9fafb;\n      border-radius: 0 0 8px 8px;\n    }\n  </style>\n</head>\n<body>\n  <div class=\"container\">\n    <div class=\"header\">\n      <h1>📋 Nueva Observación de Auditoría</h1>\n      <p style=\"margin: 0; opacity: 0.9;\">Sistema de Auditoría Interna</p>\n    </div>\n\n    <div class=\"content\">\n      <p>\n        Hola <strong>${data.auditado_nombre}</strong>,\n      </p>\n\n      <p>\n        Se ha registrado una <strong>nueva observación</strong> de auditoría de la cual eres responsable de implementación:\n      </p>\n\n      <div class=\"observation-box\">\n        <h3>Observación #${data.numero_observacion}</h3>\n        <p style=\"margin-top: 10px; font-size: 15px; font-weight: bold;\">\n          ${String(data.titulo_observacion || 'Sin título').replace(/</g, '&lt;').replace(/>/g, '&gt;')}\n        </p>\n        <div class=\"observation-detail\">\n          <p><strong>Descripción:</strong><br>${String(data.descripcion_observacion || 'Sin descripción').replace(/</g, '&lt;').replace(/>/g, '&gt;').replace(/\\n/g, '<br>')}</p>\n          <p><strong>Recomendación:</strong><br>${String(data.recomendacion || 'Sin recomendación').replace(/</g, '&lt;').replace(/>/g, '&gt;').replace(/\\n/g, '<br>')}</p>\n          ${data.probabilidad ? `<p><strong>Probabilidad:</strong> ${String(data.probabilidad).replace(/</g, '&lt;').replace(/>/g, '&gt;')}</p>` : ''}\n          ${data.impacto ? `<p><strong>Impacto:</strong> ${String(data.impacto).replace(/</g, '&lt;').replace(/>/g, '&gt;')}</p>` : ''}\n          <p><strong>Riesgo:</strong> ${riesgoBadge}</p>\n          <p><strong>ID de Observación:</strong> <code style=\"background: #e5e7eb; padding: 2px 6px; border-radius: 4px; font-size: 12px;\">${data.observacion_id}</code></p>\n        </div>\n      </div>\n\n      <div style=\"text-align: center; margin: 30px 0; padding: 15px; background: #eff6ff; border-radius: 8px;\">\n        <p style=\"margin: 0; font-size: 16px; color: #2563eb;\">\n          <strong>📋 Observación pendiente de acción.</strong>\n        </p>\n        <p style=\"margin: 10px 0 0 0; font-size: 14px; color: #6b7280;\">\n          Por favor, revisa esta observación en el sistema y define tu estrategia de implementación cuando corresponda.\n        </p>\n      </div>\n\n      <div style=\"text-align: center; margin: 30px 0;\">\n        <a href=\"http://localhost:3000/auditorias/${data.auditoria_id}/ejecucion\" class=\"button\">\n          Ver Observación en el Sistema\n        </a>\n      </div>\n\n      <p style=\"margin-top: 30px; padding-top: 20px; border-top: 1px solid #e5e7eb; color: #6b7280; font-size: 13px;\">\n        <strong>Nota:</strong> Este es un correo automático del Sistema de Auditoría Interna.<br>\n        No responder a este mensaje.\n      </p>\n    </div>\n\n    <div class=\"footer\">\n      <p>\n        Sistema de Auditoría Interna<br>\n        Generado el ${new Date(data.timestamp).toLocaleDateString('es-ES', { \n          year: 'numeric', \n          month: 'long', \n          day: 'numeric',\n          hour: '2-digit',\n          minute: '2-digit'\n        })}<br>\n        © ${new Date().getFullYear()}\n      </p>\n    </div>\n  </div>\n</body>\n</html>`;\n\nreturn [{\n  json: {\n    ...data,\n    html: htmlTemplate\n  }\n}];"
      },
      "id": "code-002",
      "name": "Code - Generar HTML",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [900, 300]
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "send",
        "toEmail": "={{ $json.auditado_email }}",
        "subject": "={{ $json.subject }}",
        "emailType": "html",
        "message": "={{ $json.html }}",
        "options": {}
      },
      "id": "gmail-001",
      "name": "Gmail - Enviar Correo",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [1120, 300]
    }
  ],
  "connections": {
    "Webhook - Recibir Solicitud": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Respond to Webhook": {
      "main": [
        [
          {
            "node": "Code - Validar y Preparar",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code - Validar y Preparar": {
      "main": [
        [
          {
            "node": "Code - Generar HTML",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code - Generar HTML": {
      "main": [
        [
          {
            "node": "Gmail - Enviar Correo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-01-08T00:00:00.000Z",
  "versionId": "1"
}
